@charset "UTF8";

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    text-align: center;
    background-color: cadetblue;
    height: 100vh;
    display: grid; /* Alinha o conteúdo */
    place-content: center; 
}

.square{
    width: 100px;
    height: 100px;
    background-color: coral;
    display: inline-block;
    position: relative; 
}


.X::after{
    content: '\1F47E';
    position: absolute;
    line-height: 100px;
    font-size: 50px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


.O::after{
    content: '\1F916';
    position: absolute;
    line-height: 100px;
    font-size: 50px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

